CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ar9331_tplink_tl-wr741nd-v4_16M=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ar9331_tplink_tl-wr740n-v4_16M=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ar9331_tplink_tl-wr740n-v5_16M=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ar9331_tplink_tl-wr703n_16M=y
CONFIG_TARGET_MULTI_PROFILE=y
